@use "@styles/variables.scss" as *;

.profileInfo {
  display: flex;
  gap: 8px;
  cursor: pointer;
  min-width: 0; 
  overflow: hidden; 
  
  img {
    border-radius: 50%;
    flex-shrink: 0; 
  }
  
  > div {
    min-width: 0; 
    overflow: hidden;
    flex: 1 1 0; 
  }
}

.profileName {
  font-size: $font-sm-size;
  color: $theme-text-1;
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 9.375rem;
}

.profileDate {
  font-size: $font-xs-size;
  color: $theme-text-2;
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 9.375rem;
}