@use "@styles/variables.scss" as *;

.container{
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: auto;
  scrollbar-width: none; 
  -ms-overflow-style: none;  
}

.notificationList{
  flex-grow: 1;
}

.notification{
  display: flex;
  align-items: center;
  padding: 8px;
  cursor: pointer;
  border-bottom: 1px solid $theme-shade-5;
  gap: 12px;

  &:hover{
    background-color: $theme-shade-2;
  }
}

.userImage{
  position: relative;
  width: 30px;
  height: 30px;
  flex-shrink: 0;

  img {
    border-radius: 50%;
    transition: filter 0.2s;
  }
    &__read {
    img {
      filter: grayscale(70%) brightness(0.9);
    }
  }
  
  @media (max-width: 768px) {
    display: none;
  }
}

  .post {
    color: $theme-primary;
  }

  .comment {
  color: $theme-primary;
}

.infoContainer{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 180px;
  height: 60px;
  color: $theme-gray-3; 

    &__info{
      max-width: 180px;
      font-size: $font-sm-size;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    &__name{
      font-size: $font-sm-size;
      padding-right: 4px;
    }

    &__new{
      color: $theme-primary;
    }

    &__title{
      color: $theme-gray-3;
      font-size: $font-xs-size;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    &__content {
      font-size: $font-sm-size;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      color: $theme-text-1;
    }

    &__old {
      color: $theme-gray-3;  
    }
}

.time{
  white-space: nowrap;
  font-size: $font-xs-size;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: flex-start;
  gap: 8px;
  // 시안1때 적용
  // justify-content: space-between;
  color: $theme-gray-3;
  height: 100%;

  &__icon{
    width: 20px;
    height: 20px;
    cursor: pointer;
    display: flex;

    &__select{
      color: $theme-primary;
    }
  }
}

.empty{
  min-width: 325px;
  white-space: nowrap;
  text-align: center;
  color: $theme-gray-1;
}