@use "@styles/variables.scss" as *;


.container{
  display: flex;
  flex-direction: column;
  height: 100%;
}

.notificationList{
  flex-grow: 1;
}

.notification{
  display: flex;
  align-items: center;
  padding: 8px;
  cursor: pointer;
  border-bottom: 1px solid $theme-shade-5;
  gap: 12px;
  border-radius: 1px;

  &:hover{
    background-color: $theme-shade-4;
  }

}


.userImage{
  position: relative;
  width: 30px;
  height: 30px;
  flex-shrink: 0;
  @media (max-width: 768px) {
    display: none;
  }
}
.old{
  color: $theme-gray-3;  
}

.infoContainer{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 180px;
  height: 60px;
  color: $theme-gray-3; 

  &:hover{
    color: $theme-primary;
  }



  &__new{
    color: $theme-primary;
  }

  &__info{
    max-width: 180px;
    font-size: $font-sm-size;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__name{
    font-size: $font-sm-size;
    padding-right: 4px;
  }

  &__title{
    color: $theme-gray-3;
    font-size: $font-xs-size;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__content{
    font-size: $font-sm-size;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: $theme-text-1;
  }

}


.time{
  white-space: nowrap;
  font-size: $font-xs-size;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $theme-gray-3;
  align-self: flex-start;
  gap: 8px;
  height: 100%;

  &__icon{
    width: 20px;
    height: 20px;
    cursor: pointer;

    &:hover{
      color: $theme-green;
    }

    &__select{
      color: $theme-green;
    }
  }
}

.empty{
  min-width: 325px;
  white-space: nowrap;
  text-align: center;
  color: $theme-gray-1;
  @media (max-width: 768px) {
    min-width: 276px;
  }
}